.user-form,
.user-form-change-pass {
  width: 290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Montserrat;
}

.user-form label,
.user-form-change-pass label {
  font-size: 20px;
}

.user-form input,
.user-form-change-pass input {
  width: 80%;
  height: 40px;
  font-size: 18px;
  border: 2px solid #6fda44;
}

.user-form input[type="submit"],
.user-form-change-pass input[type="submit"] {
  border: none;
  background-color: #6fda44;
  color: #fff;
  font-weight: 700;
}

.user-form a,
.user-form-change-pass a {
  text-decoration: underline;
}

.user-form label,
.user-form input,
.user-form-change-pass label,
.user-form-change-pass input {
  margin-top: 10px;
}

.user-form p,
.user-form-change-pass p {
  margin-top: 50px;
}

.user-form label p,
.user-form-change-pass label p {
  margin-top: 10px;
}

.user-form .stat_radio,
.user-form-change-pass .stat_radio {
  border: 1px solid #6fda44;
  border-radius: 0px;
  width: 80%;
}

.user-form .stat_radio label,
.user-form-change-pass .stat_radio label {
  padding-left: 24px;
  text-align: left;
  margin: 5px 0 5px 0;
  font-size: 18px;
}

.inputs {
  margin-top: 25px;
  width: 100%;
}

.out {
  text-align: right;
  color: tomato;
  text-decoration: none !important;
  font-style: normal;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.log-as {
  max-width: 930px;
  padding: 0px 15px;
  font-style: italic;
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 15px;
}

.img-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 499px) {
  .img-mail {
    margin: 0 auto;
  }
}

.log-as-img {
  border-radius: 50%;
  margin-right: 8px;
}

.log-as-mail {
  font-weight: 700;
}

@media (max-width: 499px) {
  .log-as-mail {
    word-wrap: break-word;
  }
}

.red {
  background-color: tomato !important;
}

.red-b {
  border: 2px solid tomato !important;
}

.no-user {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #222222;
  font-family: Montserrat;
  margin: 0 auto 15px;
  font-weight: 700;
}

.no-user a {
  color: #6fda44;
  text-decoration: underline;
  font-weight: 400;
}
