@media (max-width: 700px) {
  .cross {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .arrow {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .card2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 740px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 68px auto 15px;
}

@media (max-width: 700px) {
  .cards-wrapper {
    max-width: 290px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-card {
  position: relative;
  font-family: Montserrat;
  font-size: 13px;
}

.form-card textarea {
  text-decoration: underline;
  outline: none;
}

.fake-logo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add-logo {
  width: 40px;
  height: 40px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #969696;
  border-radius: 50%;
}

.add-logo__line {
  width: 30px;
  height: 2px;
  background-color: #969696;
}

.add-logo__line::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #969696;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arrow {
  margin: 10px;
}

.cross_mb {
  margin: 0 0px 10px 0px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.cross_ml {
  margin: 0 0px 0px 10px;
}

.cross_small {
  background: url("../img/icons/cross.svg") 50%/cover no-repeat;
  border: none;
  width: 28px;
  height: 28px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  padding: 0;
  outline: none;
}

.bg {
  background: url("../img/bg-img1920-grey.png") 0 0/cover no-repeat;
}

.ok-gray {
  background: url("../img/icons/info-ok-grey.svg") 0 0/cover no-repeat;
  border: none;
  width: 22px;
  height: 24px;
  padding: 0;
  outline: none;
}
