.search-topics-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 600px;
}

.search {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  display: none;
  margin-bottom: 15px;
}

.search_active {
  display: block;
}

.search__body {
  max-width: 600px;
  margin: 0px auto 15px;
  padding: 15px;
}

.search__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__topic {
  position: relative;
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  padding: 0 4px 0 4px;
}

.search__topic span {
  display: block;
  position: relative;
  top: 2.5px;
}

.search__topic:hover {
  border-bottom: 1.5px solid #6fda44;
  color: #6fda44;
}

.search__topic::after {
  content: "|";
  position: absolute;
  bottom: -1px;
  right: -4px;
}

.search__topic_active {
  color: #6fda44;
  position: relative;
  bottom: 2px;
  left: 2px;
  border-bottom: 1.5px solid #6fda44;
}

.search__topic_active span {
  color: #6fda44;
}

.search__tags {
  display: none;
}

.search__tags_active {
  display: block;
}

.search-result {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 10px;
}
