@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 0px);
  z-index: 10;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 2px 5px #8b8b8b, 1px 0px 5px #d3d3d3;
          box-shadow: 1px 2px 5px #8b8b8b, 1px 0px 5px #d3d3d3;
  padding: 0 15px 0 15px;
  margin-bottom: 15px;
  font-family: Montserrat;
}

@media (max-width: 767px) {
  .header .header__icon:not(.header__logo):not(.burger__icon) {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

.burger__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.burger__menu {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: absolute;
  z-index: 4;
  right: 0px;
  top: 45px;
  background-color: #fff;
}

.burger__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 15px;
}

.burger__line {
  position: relative;
}

.burger__line::after {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.burger__line::before {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

.burger__line, .burger__line::after, .burger__line::before {
  width: 40px;
  height: 2px;
  background-color: #000;
  display: block;
}

.burger__line::after, .burger__line::before {
  content: "";
  position: absolute;
}

.burger__line_active {
  height: 0;
}

.burger__line_active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__line_active::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.banner {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  margin: 0px auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 203px;
}

.card {
  position: relative;
  height: 203px;
  width: 290px;
  font-family: Roboto;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
          box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
  border-radius: 4px;
}

.card_main {
  margin: 15px 0 0 15px;
}

.card__logo {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__logo_preview {
  top: 0px;
  left: 0px;
}

.card__title, .card__subt {
  resize: none;
  word-wrap: break-word;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.card__title {
  font-size: 18px;
  height: 35px;
}

.card__subt {
  font-size: 12px;
  color: #969696;
  height: 25px;
  padding-top: 4px;
}

.card textarea.card__subt {
  white-space: nowrap;
  width: 100%;
}

.card .info__flex {
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-left: 4px;
  position: relative;
  top: 14px;
}

.card .info__cell {
  display: block;
  width: 94px;
}

.card .info__example {
  min-width: 0px;
  height: 25px;
  border: 1px solid #969696;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.card .info__simple {
  width: 75px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.card .info__simple img {
  padding-top: 1px;
}

.card .info__simple:hover {
  color: #6fda44;
  text-decoration: underline;
}

.card .info__pics {
  min-width: 0px;
  max-width: 650px !important;
  position: relative;
  padding: 0 15px;
}

@media (max-width: 499px) {
  .card .info__pics {
    display: none;
  }
}

.card .info__pics img:not(.upd_pic_del_img) {
  min-width: 80px !important;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-and-subt {
  position: relative;
  top: 4px;
  padding-left: 50px;
  padding-right: 50px;
}

.pics100 {
  width: 100% !important;
  height: 203px !important;
  position: relative;
  z-index: 3;
  border-radius: 4px 0 0 4px;
  top: 4px !important;
  background-color: #fff;
}

.pics100 img {
  width: 100% !important;
  height: 203px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.pics100 .slick-arrow {
  position: absolute;
  top: 40%;
}

.close-pics {
  position: absolute;
  z-index: 3;
  top: 4px;
  right: 52px;
  width: 40px;
  height: 40px;
  text-align: right;
}

.close-pics img {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.tags-pics-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 40px;
  height: 80px;
}

.tpfupd {
  position: relative;
  top: 9px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  font-size: 0;
  height: 80px;
  width: 40px;
  border: none;
  outline: none;
  top: 25%;
}

.slick-prev {
  left: 4px;
  background: url("../img/icons/arrow_l.svg") 0 0/cover no-repeat;
  height: 40px;
  width: 20px;
}

.slick-next {
  right: 4px;
  background: url("../img/icons/arrow_r.svg") 0 0/cover no-repeat;
  height: 40px;
  width: 20px;
}

.w100 {
  width: calc(100% - 30px);
}

.w100 .info__simple {
  width: 100%;
}

.w_small {
  width: 290px;
}

.w_small .info__pics {
  display: none;
}

.w_small .info__simple {
  width: 75px;
}

.one_slick_pic {
  background-color: #fff !important;
  width: 250px !important;
  position: absolute !important;
  z-index: 3 !important;
  padding: 0 !important;
}

.one_slick_pic img {
  height: 203px !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.one_slick_pic .slick-arrow {
  position: absolute !important;
  top: 40% !important;
}

.close-one-slick-pic {
  position: absolute;
  top: -118px;
  right: 50px;
  z-index: 4;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 930px;
  margin: 0 auto 15px;
}

.inter-icons {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 100%;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apply_ok {
  position: absolute;
  bottom: 0;
}

.tags {
  width: 85%;
  position: absolute;
  top: 139px;
  left: 4px;
}

.tags_main {
  white-space: nowrap;
  position: relative;
  top: -2px;
  left: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

@media (max-width: 499px) {
  .tags_main {
    width: 85%;
  }
}

.tags__select {
  width: 100%;
}

.tag {
  color: #969696;
  border: 1px solid #969696;
  font-size: 14px;
  font-family: Roboto;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 4px;
}

.tag_main {
  margin: 4px 0px 0px 4px;
}

.tag:hover, .tag_active {
  background-color: #c4c4c4;
  color: #fff;
}

.switch-size {
  max-width: 930px;
  text-align: right;
}

@media (max-width: 499px) {
  .switch-size {
    display: none;
  }
}

.change-page {
  text-align: center;
  font-weight: 700;
  margin: 0px auto 15px;
}

.dn-imp {
  display: none !important;
}

.dn {
  display: none;
}

.del-anim,
.post-anim {
  height: 100%;
  width: 0;
  background-color: tomato;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 4px;
}

.post-anim {
  background-color: #6fda44;
}

.sort-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  padding: 0 15px 15px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sort-flex input,
.sort-flex select {
  margin-top: 4px;
  width: 130px;
}

.db {
  display: block;
}

.db-imp {
  display: block !important;
}

.brand {
  color: #6fda44;
}

.brand-bg {
  background-color: #7fde59;
}

.brand-like {
  color: #FFBF1C;
}

.brand-del {
  color: #FF4242;
}

.gray {
  color: #969696;
}

.please-log {
  position: fixed;
  z-index: 4;
  top: 50px;
  right: 15px;
  padding: 4px 40px 4px 4px;
  width: 290px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
          box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
  font-size: 20px;
  line-height: 22px;
}

.please-log img {
  position: absolute;
  top: 2px;
  right: 2px;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mb2x {
  margin-bottom: 30px !important;
}

.no-hist {
  padding-top: 45px;
  text-align: center;
  font-size: 18px;
  font-family: Roboto;
}

.no-hist a {
  color: #6fda44;
}

.bor-like,
.bor-del,
.bor-mes {
  position: relative;
  top: 2px;
}

.bor-like {
  border-bottom: 2px solid #FFBF1C;
}

.bor-del {
  border-bottom: 2px solid #FF4242;
}

.bor-mes {
  border-bottom: 2px solid #6fda44;
}

.msg-single {
  border: none !important;
  padding: 10px 0;
}

.usn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.red-b-chosen {
  border: 2px solid tomato !important;
  border-radius: 5px !important;
}

.upd-info {
  width: 136px !important;
}

@media (max-width: 500px) {
  .upd-info {
    width: 94px !important;
  }
}

.upd-tags {
  max-width: 280px !important;
  margin-left: 6px;
  margin-bottom: 2px;
}

@media (max-width: 600px) {
  .upd-tags {
    max-width: 200px !important;
    margin-bottom: -2px;
  }
}

.update-card .info__flex {
  position: relative;
  top: 6px;
}

.multiple-preview {
  position: relative;
}

.upd_pic_del {
  position: relative;
  width: 100%;
  height: 100%;
}

.upd_pic_del_img {
  position: absolute;
  right: 2px;
  z-index: 2;
  width: 22px;
  height: 22px;
}

.loading {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.filter,
.cancel-filter,
.switch-size,
.search-word,
.search-company,
.sort-applies,
.search-salary,
.search-experience,
.search-duration,
.search-location,
.search-workload,
.search-posted {
  color: #969696;
  border: 1px solid #969696;
  font-size: 14px;
  font-family: Roboto;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  height: 30px;
}

.cancel-filter {
  border: 1px solid #6fda44;
  color: #6fda44;
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancel-filter > div {
  color: #6fda44;
}

.close-cancel-filter {
  position: relative;
  left: 4px;
  background: url("../img/icons/cross.svg") 50%/cover no-repeat;
  width: 12px;
  height: 12px;
}

.cancel_all_filters {
  border: 1px solid tomato;
  color: tomato;
}

.img-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoom-out {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.slider-wrap {
  padding: 0 15px;
  background-color: #fff;
  width: calc(100vw - 15px);
  height: 100vh;
  position: fixed;
  z-index: 5;
  bottom: 0px;
  left: 0;
}

.slider-wrap img {
  max-height: 100vh;
  max-width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-wrap .slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-disabled {
  opacity: 0;
  cursor: auto;
}

.example-small-slick {
  text-decoration: underline;
}

.like,
.hide,
.apply,
.update,
.del,
.cross,
.cross_reset {
  cursor: pointer;
}

.like:active,
.hide:active,
.apply:active,
.update:active,
.del:active,
.cross:active,
.cross_reset:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.9;
  -o-transition: 0.9;
  transition: 0.9;
}

.header__icon,
.search__topic,
.tag,
.switch-size,
.filter,
.search-word,
.close-cancel-filter,
.please-log,
.add-logo,
.info__example,
.example-small-slick,
.close-one-slick-pic,
.upd_pic_del,
.sign-in,
.cancel_all_filters,
.info__simple {
  cursor: pointer;
}

.search-word,
.search-company {
  padding-left: 12px;
}

.mes-to-applicant {
  width: 30px;
  height: 30px;
}

.applied_to_card {
  position: absolute;
  top: -20px;
  left: 0;
}

.sort-applies-div,
.writing_to {
  margin-left: 15px;
  font-size: 18px;
  font-family: Montserrat;
  width: 100%;
}

.applies {
  padding-left: 4px;
}

.select-post {
  margin-bottom: 5px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #6fda44;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6fda44 #fff;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #6fda44;
  border-radius: 5px;
  border: 3px solid #fff;
}

.time {
  position: absolute;
  bottom: 2px;
  right: 35px;
  font-size: 11px;
  color: #969696;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #6fda44;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}

.stat-wrap {
  margin: 0 auto;
  width: 270px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
}

.stat-topic {
  color: #6fda44;
  font-weight: 700;
  padding-bottom: 4px;
}

.stat,
.stat_radio {
  border: 1px solid #969696;
  padding: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.stat_radio,
.stat_radio_radio {
  padding: 4px 0 4px 4px;
  width: calc(100% - 50px);
}

.stat_radio label,
.stat_radio_radio label {
  width: 100%;
}

.stat:hover,
.stat_radio:hover {
  background-color: #e9e9e9;
}

.stat span,
.stat_radio span {
  display: block;
  color: #6fda44;
  cursor: pointer;
}
