$brandcolor: #6fda44;

.user-form {
	width: 290px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: Montserrat;
	label {
		font-size: 20px;
	}
	input {
		width: 80%;
		height: 40px;
		font-size: 18px;
		border: 2px solid $brandcolor;
		&:focus {
		}
	}
	input[type="submit"] {
		border: none;
		background-color: $brandcolor;
		color: #fff;
		font-weight: 700;
	}
	a {
		text-decoration: underline;
	}
	label,
	input {
		margin-top: 10px;
	}
	p {
		margin-top: 50px;
	}
	label {
		p {
			margin-top: 10px;
		}
	}
}
.inputs {
	margin-top: 40px;
	width: 100%;
}
.out {
	text-align: right;
	color: tomato;
	text-decoration: none !important;
	font-style: normal;
}
.log-as {
	width: 100%;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	margin: 15px auto 0px;
	div {
		text-align: left;
	}
	span {
		font-style: normal;
		font-weight: 700;
		display: block;
		max-width: 230px;
		padding-left: 3px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.red {
	background-color: tomato !important;
}
