@import "vars.scss";

@media (max-width: 700px) {
	.cross_post {
		order: 1;
	}
	.form-card {
		order: 2;
	}
	.arrow {
		order: 3;
		transform: rotate(90deg);
	}
	.card2 {
		order: 4;
	}
}

.cards-wrapper {
	@media (max-width: 700px) {
		max-width: 320px;
		justify-content: center;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 740px;
	flex-wrap: wrap;
	padding: 0 15px 15px;
	margin: 0 auto 15px;
}
.form-card {
	overflow: visible;
	position: relative;
	font-family: Montserrat;
	font-size: 13px;
	textarea {
		text-decoration: underline;
		outline: none;
	}
}
.fake-logo,
.fake-example,
.fake-logo-upd {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.add-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid $gray-light;
	border-radius: 50%;
	&__line {
		width: 30px;
		height: 2px;
		background-color: $gray-light;
		&::after {
			position: absolute;
			content: "";
			width: 30px;
			height: 2px;
			background-color: $gray-light;
			transform: rotate(90deg);
		}
	}
}
.arrow {
	margin: 10px;
}
.cross {
	&_post {
		margin: 0 0px 10px 0px;
		align-self: start;
	}
	&_search {
		margin: 0 0px 0px 10px;
	}
	&_reset {
		background: url("../img/icons/cross.svg") 50% / cover no-repeat;
		border: none;
		width: 28px;
		height: 28px;
		transform: scale(0.8);
		padding: 0;
		outline: none;
	}
}
.bg {
	background: url("../img/bg-img1920-grey.png") 0 0 / cover no-repeat;
}
.ok-gray {
	background: url("../img/icons/info-ok-grey.svg") 0 0 / cover no-repeat;
	border: none;
	width: 22px;
	height: 24px;
	padding: 0;
	outline: none;
}
.your {
	text-align: center;
	max-width: 500px;
	padding: 15px 15px 0;
	margin: 0 auto 15px;
	font-size: 20px;
	font-weight: 700;
	font-family: Montserrat;
	color: $brandcolor;
}
.op05 {
	opacity: 0.5;
}
.op01 {
	opacity: 0.1;
}
.post-show {
	position: relative;
	margin: 0 auto;
	left: 0px;
	width: 40px;
}
.post {
	position: relative;
}

