@import "vars.scss";

.search-topics-flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: $search-maw;
}

.search {
	position: relative;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	display: none;
	&_active {
		display: block;
	}

	&__body {
		max-width: $search-maw;
		margin: 0px auto 15px;
		padding: 15px;
	}

	&__topics {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__topic {
		position: relative;
		display: inline-block;
		// border: 1px solid red;
		font-family: Montserrat;
		font-size: 20px;
		padding: 0 4px 0 4px;
		span {
			display: block;
			position: relative;
			top: 2.5px;
		}
		&:hover {
			border-bottom: 1.5px solid $brandcolor;
			color: $brandcolor;
		}
		&::after {
			content: "|";
			position: absolute;
			bottom: -1px;
			right: -4px;
		}
		&_active {
			color: $brandcolor;
			position: relative;
			bottom: 2px;
			left: 2px;
			border-bottom: 1.5px solid $brandcolor;
		}
	}

	&__tags {
		display: none;
		&_active {
			display: block;
		}
	}

	&__tag {
	}
}
