@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$main-cards-cont-wid: 930px;
$brandcolor: #6fda44;
$gray-light: #969696;

.header {
	@media (max-width: 767px) {
		.header__icon:not(.header__logo):not(.burger__icon) {
			display: none;
		}
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 0px);
	// position: fixed;
	z-index: 10;
	background-color: #fff;
	top: 0;
	left: 0;
	box-shadow: 1px 2px 5px #8b8b8b, 1px 0px 5px #d3d3d3;
	padding: 0 15px 0 15px;
	margin-bottom: 15px;
}
// ! burger
.burger {
	@media (max-width: 767px) {
		display: block;
	}
	&__icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
	}
	&__menu {
		width: 250px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		position: absolute;
		z-index: 3;
		right: 0px;
		top: 45px;
		background-color: #fff;
	}
	&__button {
		display: flex;
		align-items: center;
		height: 40px;
		position: absolute;
		top: 0px;
		right: 15px;
	}
	&__line {
		position: relative;
		&::after {
			transform: translateY(4px);
		}
		&::before {
			transform: translateY(-4px);
		}
	}
	&__line,
	&__line::after,
	&__line::before {
		width: 40px;
		height: 2px;
		background-color: #000;
		display: block;
	}
	&__line::after,
	&__line::before {
		content: "";
		position: absolute;
	}
	&__line_active {
		height: 0;
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(135deg);
		}
	}
}
// ! banner
.banner {
	width: 100%;
	height: 300px;
	background-color: rgb(216, 216, 216);
	margin: 0px auto 15px;
}
// ! card
.card{
	overflow: hidden;
	position: relative;
	font-family: Roboto;
	width: 290px;
	height: 203px;
	background-color: #ffffff;
	box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
	border-radius: 4px;
	&_main {
		margin: 15px 0 0 15px;
	}
	&__logo {
		position: absolute;
		top: 4px;
		left: 4px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__title,
	&__subt {
		position: absolute;
		left: 50px;
		resize: none;
		overflow: hidden;
		text-overflow: ellipsis;
		border: none;
		margin-right: 40px;
	}
	&__title {
		top: 4px;
		font-size: 18px;
		max-height: 40px;
	}
	&__subt {
		top: 44px;
		font-size: 12px;
		color: $gray-light;
		max-height: 26px;
	}
	.info {
		position: absolute;
		top: 85px;
		width: 85%;
		&__flex {
			min-width: 0px;
			display: flex;
			justify-content: space-between;
			position: relative;
			left: 4px;
			bottom: 10px;
		}
		&__cell {
			display: block;
			width: 90px;
		}
		&__example {
			min-width: 0px;
			height: 23px;
			border: 1px solid $gray-light;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
		}
		&__simple {
			width: 75px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		// ! SLICK SLIDER INIT
		&__pics {
			@media (max-width: 650px) {
				width: 380px !important;
			}
			@media (max-width: 600px) {
				width: 330px !important;
			}
			@media (max-width: 550px) {
				width: 280px !important;
			}
			@media (max-width: 499px) {
				display: none;
			}
			min-width: 0px;
			width: 430px !important;
			height: 80px !important;
			position: relative;
			padding: 0 15px;
			img {
				min-width: 80px !important;
				height: 80px !important;
				object-fit: cover;
			}
		}
	}
}
.pics100 {
	@media (max-width: 499px) {
		display: none !important;
	}
	width: 100% !important;
	height: 203px !important;
	position: relative;
	border-radius: 4px 0 0 4px;
	top: 4px !important;
	img {
		width: 100% !important;
		height: 203px !important;
		object-fit: cover;
	}
	.slick-arrow {
		position: absolute;
		top: 40%;
	}
}
.close-pics {
	position: absolute;
	top: 4px;
	right: 2px;
	width: 40px;
	height: 40px;
	text-align: right;
	img {
		transform: scale(0.7);
	}
}
.tags-pics-flex {
	position: absolute;
	bottom: 4px;
	right: 45px;
	width: calc(100% - 45px);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	min-width: 0px;
	display: flex;
}
.slick-arrow {
	position: absolute;
	z-index: 2;
	font-size: 0;
	height: 80px;
	width: 40px;
	border: none;
	outline: none;
	top: 25%;
}
.slick-prev {
	left: 0px;
	background: url("../img/icons/arrow_l.svg") 0 0 / cover no-repeat;
	height: 40px;
	width: 20px;
}
.slick-next {
	right: 0px;
	background: url("../img/icons/arrow_r.svg") 0 0 / cover no-repeat;
	height: 40px;
	width: 20px;
}

.w100 {
	width: calc(100% - 30px);
	.info__simple {
		width: 100%;
	}
}
.card-flex {
	display: flex;
	flex-wrap: wrap;
	max-width: $main-cards-cont-wid;
	margin: 0 auto 15px;
}
.inter-icons {
	position: absolute;
	right: 0px;
	top: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 193px;
	width: 40px;
}
.apply {
	&_ok {
		position: absolute;
		bottom: 0;
	}
}
// ! tags
.tags {
	&_main {
		@media (max-width: 767px) {
			width: 40px;
		}
		@media (max-width: 499px) {
			width: 85%;
		}
		white-space: nowrap;
		position: relative;
		top: 0;
		left: 0px;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		width: auto;
	}
	width: 85%;
	position: absolute;
	top: 139px;
	left: 4px;
	&__select {
		width: 100%;
	}
}
.tag {
	color: $gray-light;
	border: 1px solid $gray-light;
	font-size: 14px;
	font-family: Roboto;
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	margin-top: 4px;
	&_main {
		margin: 4px 0px 0px 4px;
	}
}
// ! switch
.switch {
	max-width: $main-cards-cont-wid;
	text-align: right;
	padding: 0 15px;
}
// ! change-page
.change-page {
	text-align: center;
	font-weight: 700;
	margin: 0px auto 15px;
}
.dn-imp {
	display: none !important;
}
.dn {
	display: none;
}
.del-anim {
	height: 100%;
	width: 0;
	background-color: tomato;
	position: relative;
	z-index: 3;
	border-radius: 4px;
}
.new_user_post {
	background-color: lighten($brandcolor, 6%);
	position: relative;
	width: 100%;
	height: 100%;
	left: -100%;
	z-index: 3;
	border-radius: 4px;
}
.sort-flex {
	display: flex;
	width: $main-cards-cont-wid;
	margin: 0 auto;
	justify-content: flex-end;
}
.db{
	display: block;
}