@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$main-cards-cont-wid: 930px;
$gray-light: #969696;

.header {
	@media (max-width: 767px) {
		.header__icon:not(.header__logo):not(.burger__icon) {
			display: none;
		}
	}
	border: 2px solid red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 30px);
	position: fixed;
	z-index: 10;
	background-color: #fff;
	top: 0;
	left: 0;
	padding: 0 15px 0 15px;
}
// ! burger
.burger {
	@media (max-width: 767px) {
		display: block;
	}
	&__icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
	}
	&__menu {
		width: 250px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		position: absolute;
		right: 0px;
		top: 45px;
		background-color: #fff;
	}
	&__button {
		border: 2px solid red;
		display: flex;
		align-items: center;
		height: 40px;
		position: absolute;
		top: 0px;
		right: 15px;
	}
	&__line {
		position: relative;
		&::after {
			transform: translateY(4px);
		}
		&::before {
			transform: translateY(-4px);
		}
	}
	&__line,
	&__line::after,
	&__line::before {
		width: 40px;
		height: 2px;
		background-color: #000;
		display: block;
	}
	&__line::after,
	&__line::before {
		content: "";
		position: absolute;
	}
	&__line_active {
		height: 0;
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(135deg);
		}
	}
}
// ! banner
.banner {
	margin-top: 48px;
	width: 100%;
	height: 300px;
	background-color: rgb(255, 255, 255);
}
// ! card
.card {
	position: relative;
	font-family: Roboto;
	position: relative;
	width: 290px;
	height: 203px;
	background-color: #ffffff;
	box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
	border-radius: 4px;
	&_main {
		margin: 15px 0 0 15px;
	}
	&__logo {
		position: absolute;
		top: 4px;
		left: 4px;
	}
	&__title,
	&__subt {
		width: 170px;
		position: absolute;
		left: 60px;
		resize: none;
		overflow: hidden;
		border: none;
	}
	&__title {
		top: 4px;
		font-size: 18px;
	}
	&__subt {
		top: 44px;
		font-size: 12px;
		color: $gray-light;
	}
	.info {
		position: absolute;
		top: 77px;
		width: 80%;
		&__flex {
			display: flex;
			justify-content: space-between;
			position: relative;
			left: 4px;
		}
		&__cell {
			display: block;
		}
		&__example {
			position: absolute;
			bottom: 2px;
		}
		&__simple {
			width: 75px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.w100 {
	width: calc(100% - 30px);
	.info__simple{
		width: 100%;
	}
}
.card-flex {
	display: flex;
	flex-wrap: wrap;
	max-width: $main-cards-cont-wid;
	margin: 0 auto;
}
.inter-icons {
	border: 1px solid red;
	position: absolute;
	right: 4px;
	top: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 193px;
	width: 40px;
}
.tags {
	border: 2px solid red;
	width: 80%;
	position: relative;
	left: 4px;
	top: 140px;
	&__select {
		width: 100%;
	}
}
.tag {
}
// ! switch
.switch {
	max-width: $main-cards-cont-wid;
	margin: 0 auto;
	border: 2px solid red;
	text-align: right;
}
