@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@import "vars.scss";

.header {
	@media (max-width: 767px) {
		.header__icon:not(.header__logo):not(.burger__icon) {
			display: none;
		}
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 0px);
	// position: fixed;
	z-index: 10;
	background-color: #fff;
	top: 0;
	left: 0;
	box-shadow: 1px 2px 5px #8b8b8b, 1px 0px 5px #d3d3d3;
	padding: 0 15px 0 15px;
	margin-bottom: 15px;
}
// ! burger
.burger {
	@media (max-width: 767px) {
		display: block;
	}
	&__icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
	}
	&__menu {
		width: 250px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		position: absolute;
		z-index: 4;
		right: 0px;
		top: 45px;
		background-color: #fff;
	}
	&__button {
		display: flex;
		align-items: center;
		height: 40px;
		position: absolute;
		top: 0px;
		right: 15px;
	}
	&__line {
		position: relative;
		&::after {
			transform: translateY(4px);
		}
		&::before {
			transform: translateY(-4px);
		}
	}
	&__line,
	&__line::after,
	&__line::before {
		width: 40px;
		height: 2px;
		background-color: #000;
		display: block;
	}
	&__line::after,
	&__line::before {
		content: "";
		position: absolute;
	}
	&__line_active {
		height: 0;
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(135deg);
		}
	}
}
// ! banner
.banner {
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	margin: 0px auto 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
// ! card
.inner-card-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 203px;
}
.card {
	position: relative;
	height: 203px;
	width: 290px;
	font-family: Roboto;
	background-color: #ffffff;
	box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
	border-radius: 4px;
	&_main {
		margin: 15px 0 0 15px;
	}
	&__logo {
		position: absolute;
		z-index: 2;
		top: 4px;
		left: 4px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		object-fit: cover;
		&_preview {
			top: 0px;
			left: 0px;
		}
	}
	&__title,
	&__subt {
		resize: none;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__title {
		font-size: 18px;
		height: 35px;
	}
	&__subt {
		font-size: 12px;
		color: $gray-light;
		height: 25px;
	}
	textarea.card__subt {
		white-space: nowrap;
		width: 100%;
	}
	.info {
		&__flex {
			min-width: 0px;
			display: flex;
			justify-content: space-between;
			padding-right: 50px;
			padding-left: 4px;
			position: relative;
			top: 14px;
		}
		&__cell {
			display: block;
			width: 94px;
		}
		&__example {
			min-width: 0px;
			height: 25px;
			border: 1px solid $gray-light;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
		}
		&__simple {
			width: 75px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		// ! SLICK SLIDER INIT
		&__pics {
			@media (max-width: $pics-hide) {
				display: none;
			}
			min-width: 0px;
			max-width: 650px !important;
			position: relative;
			padding: 0 15px;
			img:not(.upd_pic_del_img) {
				min-width: 80px !important;
				height: 80px;
				object-fit: cover;
			}
		}
	}
}
.title-and-subt {
	position: relative;
	top: 4px;
	padding-left: 50px;
	padding-right: 50px;
}
.pics100 {
	// @media (max-width: 499px) {
	// 	display: none !important;
	// }
	width: 100% !important;
	height: 203px !important;
	position: relative;
	z-index: 3;
	border-radius: 4px 0 0 4px;
	top: 4px !important;
	background-color: #fff;
	img {
		width: 100% !important;
		height: 203px !important;
		object-fit: cover;
	}
	.slick-arrow {
		position: absolute;
		top: 40%;
	}
}
.close-pics {
	position: absolute;
	z-index: 3;
	top: 4px;
	right: 52px;
	width: 40px;
	height: 40px;
	text-align: right;
	img {
		transform: scale(0.8);
	}
}
.tags-pics-flex {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 40px;
	height: 80px;
}
.tpfupd {
	position: relative;
	top: 9px;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	min-width: 0px;
	display: flex;
}
.slick-arrow {
	position: absolute;
	z-index: 2;
	font-size: 0;
	height: 80px;
	width: 40px;
	border: none;
	outline: none;
	top: 25%;
}
.slick-prev {
	left: 4px;
	background: url("../img/icons/arrow_l.svg") 0 0 / cover no-repeat;
	height: 40px;
	width: 20px;
}
.slick-next {
	right: 4px;
	background: url("../img/icons/arrow_r.svg") 0 0 / cover no-repeat;
	height: 40px;
	width: 20px;
}

.w100 {
	width: calc(100% - 30px);
	.info__simple {
		width: 100%;
	}
}
.w_small {
	width: 290px;
	.info__pics {
		display: none;
	}
}
.one_slick_pic {
	background-color: #fff !important;
	width: 250px !important;
	position: absolute !important;
	z-index: 3 !important;
	padding: 0 !important;
	img {
		height: 203px !important;
		object-fit: cover !important;
	}
	.slick-arrow {
		position: absolute !important;
		top: 40% !important;
	}
}
.close-one-slick-pic {
	position: absolute;
	top: -118px;
	right: 50px;
	z-index: 4;
	transform: scale(0.7);
}
.card-flex {
	display: flex;
	flex-wrap: wrap;
	max-width: $main-cards-cont-wid;
	margin: 0 auto 15px;
}
.inter-icons {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 100%;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.apply {
	&_ok {
		position: absolute;
		bottom: 0;
	}
}
// ! tags
.tags {
	&_main {
		@media (max-width: 767px) {
			// width: 40px;
		}
		@media (max-width: $pics-hide) {
			width: 85%;
		}
		white-space: nowrap;
		position: relative;
		top: -2px;
		left: -2px;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		width: auto;
	}
	width: 85%;
	position: absolute;
	top: 139px;
	left: 4px;
	&__select {
		width: 100%;
	}
}
.tag {
	color: $gray-light;
	border: 1px solid $gray-light;
	font-size: 14px;
	font-family: Roboto;
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	margin-top: 4px;
	&_main {
		margin: 4px 0px 0px 4px;
	}
	&:hover,
	&_active {
		background-color: #c4c4c4;
		color: #fff;
	}
}
// ! switch
.switch-size {
	max-width: $main-cards-cont-wid;
	text-align: right;
	@media (max-width: $pics-hide) {
		display: none;
	}
}
// ! change-page
.change-page {
	text-align: center;
	font-weight: 700;
	margin: 0px auto 15px;
}
.dn-imp {
	display: none !important;
}
.dn {
	display: none;
}
.del-anim,
.post-anim {
	height: 100%;
	width: 0;
	background-color: tomato;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	border-radius: 4px;
}
.post-anim {
	background-color: $brandcolor;
}

.sort-flex {
	display: flex;
	max-width: $search-maw;
	padding: 0 15px 15px;
	margin: 0 auto;
	flex-wrap: wrap;
	input,
	select {
		margin-top: 4px;
		width: 130px;
	}
}
.db {
	display: block;
}
.db-imp {
	display: block !important;
}
.brand {
	color: $brandcolor;
}
.brand-bg {
	background-color: lighten($brandcolor, 5%);
}
.brand-like {
	color: $like;
}
.brand-del {
	color: $del;
}
.gray {
	color: $gray-light;
}
// ! please-log
.please-log {
	position: fixed;
	z-index: 4;
	top: 50px;
	right: 15px;
	padding: 4px 40px 4px 4px;
	width: 290px;
	background-color: #ffffff;
	box-shadow: 1px 4px 5px #8b8b8b, 1px -2px 5px #d3d3d3;
	font-size: 20px;
	line-height: 22px;
	img {
		position: absolute;
		top: 2px;
		right: 2px;
		transform: scale(0.7);
	}
}
.flex-sb {
	display: flex;
	justify-content: space-between;
}
.mb2x {
	margin-bottom: 30px !important;
}
.no-hist {
	padding-top: 45px;
	text-align: center;
	font-size: 18px;
	font-family: Roboto;
	a {
		color: $brandcolor;
	}
}
// ! profile
.bor-like,
.bor-del,
.bor-mes {
	position: relative;
	top: 2px;
}
.bor-like {
	border-bottom: 2px solid $like;
}
.bor-del {
	border-bottom: 2px solid $del;
}
.bor-mes {
	border-bottom: 2px solid $brandcolor;
}
.msg-single {
	border: none !important;
	padding: 10px 0;
}
.usn {
	user-select: none;
}
// ! red-b-chosen
.red-b-chosen {
	border: 2px solid tomato !important;
	border-radius: 5px !important;
}
// ! update
.upd-info {
	width: 136px !important;
	@media (max-width: 500px) {
		width: 94px !important;
	}
}
// !
.upd-tags {
	max-width: 280px !important;
	margin-left: 6px;
	margin-bottom: 2px;
	@media (max-width: 600px) {
		max-width: 200px !important;
		margin-bottom: -2px;
	}
}
.update-card .info__flex {
	position: relative;
	top: 6px;
}
.multiple-preview {
	position: relative;
}
.upd_pic_del {
	position: relative;
	width: 100%;
	height: 100%;
}
.upd_pic_del_img {
	position: absolute;
	right: 2px;
	z-index: 2;
	width: 22px;
	height: 22px;
}
.loading {
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.filter,
.cancel-filter,
.switch-size,
.search-word,
.search-company,
.sort-applies,
.search-salary,
.search-experience,
.search-duration,
.search-location,
.search-workload {
	color: $gray-light;
	border: 1px solid $gray-light;
	font-size: 14px;
	font-family: Roboto;
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	height: 30px;
}
.cancel-filter {
	border: 1px solid $brandcolor;
	color: $brandcolor;
	position: relative;
	margin-left: 5px;
	margin-top: 5px;
	display: inline-flex;
	align-items: center;
}
.close-cancel-filter {
	position: relative;
	left: 4px;
	background: url("../img/icons/cross.svg") 50% / cover no-repeat;
	width: 12px;
	height: 12px;
}

// ! slider
.img-zoom {
	cursor: zoom-in;
}
.zoom-out {
	cursor: zoom-out;
}
.slider-wrap {
	padding: 0 15px;
	background-color: #fff;
	width: calc(100vw - 15px);
	height: 100vh;
	position: fixed;
	z-index: 5;
	bottom: 0px;
	left: 0;
	img {
		max-height: 100vh;
		max-width: 100vw;
		object-fit: contain;
		position: relative;
		user-select: none;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
	}
}
.slick-disabled {
	opacity: 0;
	cursor: auto;
}
.example-small-slick {
	text-decoration: underline;
}
.like,
.hide,
.apply,
.update,
.del,
.cross,
.cross_reset {
	&:active {
		transform: scale(0.9);
		transition: 0.9;
	}
	cursor: pointer;
}
.header__icon,
.search__topic,
.tag,
.switch-size,
.filter,
.search-word,
.close-cancel-filter,
.please-log,
.add-logo,
.info__example,
.example-small-slick,
.close-one-slick-pic,
.upd_pic_del,
.sign-in {
	cursor: pointer;
}
.mes-to-applicant {
	width: 30px;
	height: 30px;
}
.applied_to_card {
	position: absolute;
	top: -20px;
	left: 0;
}
.sort-applies-div,
.writing_to {
	margin-left: 15px;
	font-size: 18px;
	font-family: Montserrat;
	width: 100%;
}
.applies {
	padding-left: 4px;
}
.select-post {
	margin-bottom: 5px;
}
// ! radio
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: "";
	width: 12px;
	height: 12px;
	background: $brandcolor;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
// ! scroll
/* W3C standard
   сейчас только для Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $brandcolor #fff;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: #fff;
}
*::-webkit-scrollbar-thumb {
	background-color: $brandcolor;
	border-radius: 5px;
	border: 3px solid #fff;
}
